<!-- <div class="container">
    <p>Add server and Blueprint</p>

    <hr>
    <app-cockpit (serverCreated)="onServerAdded($event)" (bPCreated)="onBlueprintAdded($event)">
    </app-cockpit>
    <hr>
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-primary" (click)="onChangeFirst()">change First</button>
            <button class="btn btn-danger" (click)="onDestroyFirst()">Destroy First</button>
            <app-server [name]="serverElement.name" *ngFor="let serverElement of serverElements" [srvElement]="serverElement">
                <p #contentParagraph>
                    <strong *ngIf="serverElement.type === 'server'" style="color:red">{{serverElement.content}}</strong>
                    <em *ngIf="serverElement.type === 'blueprint'">{{serverElement.content}}</em>
                </p>
            </app-server>


        </div>

    </div> -->
<!-- local referance
<app-customer-list #customer>
</app-customer-list>
<p> you have selected : {{customer.selectedCustomer ?.name}}</p> -->
<div class="row">
    <div class="col-xs-12">
        <app-game-control (intervalFired)="onIntervalFired($event)">

        </app-game-control>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <app-odd *ngFor="let oddNumber of oddNumbers" [number]="oddNumber"></app-odd>
        <app-even *ngFor="let evenNumber of evenNumbers" [number]="evenNumber"></app-even>
    </div>
</div>