<div class="container">
    <p>Add server and Blueprint</p>

    <hr>
    <app-cockpit (serverCreated)="onServerAdded($event)" (bPCreated)="onBlueprintAdded($event)">
    </app-cockpit>
    <hr>
    <div class="row">
        <div class="col-xs-12">

            <app-server *ngFor="let serverElement of serverElements" [srvElement]="serverElement">
                <p>
                    <strong *ngIf="serverElement.type === 'server'" style="color:red">{{serverElement.content}}</strong>
                    <em *ngIf="serverElement.type === 'blueprint'">{{serverElement.content}}</em>
                </p>
            </app-server>


        </div>

    </div>
    <!-- local referance
<app-customer-list #customer>
</app-customer-list>
<p> you have selected : {{customer.selectedCustomer ?.name}}</p> -->